<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>PipelineRun Dashboard!</title>
    <meta name="description" content="PipelineRun Dashboard viewer status">
    <meta name="author" content="Chmouel Boudjah">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/bootstrap.min.js"></script>

  </head>

  <body>
    <div class="container">
      <p class="text-center">
        <button style="padding: 10px" class="btn-info">PipelineRuns status</button>
      </p>        
      <div class="list-group">

        {% for pr in prs %}
        
        <p class="text-justify">
          <a href="/log/{{ pr.prname }}"
            class="list-group-item list-group-item-{{ pr.classname }}">
            {{ pr.prname }}
            <!-- <small>{{ pr.finishtime.strftime('%Y-%m-%d %H:%M:%S') }}</small> -->
          </a>
        </p>
        {% endfor %}
        
      </div>
    </div>
  </body>
</html
