<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PipelineRun: {{pr}}</title>
    <meta name="description" content="Showing PipelienRun stesp and failure">
    <meta name="author" content="Chmouel Boudjah">

    <style>
     a.deco-none {
       color: #000000 !important;
       text-decoration: none;

     }

     .clickable {
       cursor: pointer;
     }
    </style>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  </head>


  <body>

    <div class="container-fluid">

      <div class="text-center">
        <a href="/">
          <img src="{{ url_for('static', filename='img/tekton.png')}}" width="120" height="80" class="img-fluid rounded"
            alt="TektonCD Logo">
        </a>
        <br />
        <button style="padding: 10px" class="btn-primary">PipelineRun: {{pr}}</button>
      </div>
      <br />

      {% for tr in prlog %}

      <div style="margin-right: 5px; margin-left: 5px; padding: 10px;"
        class="container_fluid text-right rounded border mx-auto"  id="{{tr.taskrun}}">

        <div class="row">
          <div class="col-md-1 text-sm-left">
            <a alt="Permalink" href="#{{tr.taskrun}}" >
              <i class="material-icons">link</i>
            </a>
          </div>

          <div class="col-md-7 text-sm-center">
            <button data-toggle="collapse" data-target="#log-{{tr.taskrun}}" style="padding: 5px;" class="btn btn-light">
              <b>Taskrun:</b> {{tr.taskrun}}
            </button>
          </div>
          <div class="col-md-4 text-sm-right">
            <i class="small">
              <b>Started:</b> {{ tr.start_time.strftime('%Y-%m-%d %H:%M:%S') }}
              <b>Elapsed:</b> {{ tr.elapsed }}
            </i>
          </div>
        </div>


        <div class="show" id="log-{{tr.taskrun}}">
          <hr>
          {% for step in tr.steps %}
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-11 text-left">
                <b class="text-{{step.classname}}">Step:</b>
                <button data-toggle="collapse" data-target="#{{tr.taskrun}}-{{step.stepname}}" class="clickable btn btn-light">{{step.stepname}}</button>
              </div>
              <div class="col-md-1 text-right">
                <a alt="Permalink" href="#{{tr.taskrun}}-{{step.stepname}}">
                  <i class="material-icons">link</i>
                </a>
              </div>
            </div>

            <div class="row">
              <div id="{{tr.taskrun}}-{{step.stepname}}"
                style="margin-right: 5px; margin-left: 5px; padding: 10px;"
                class="show col-md-12 text-justify bg-white rounded
                       border-{{ step.classname }} border mx-auto">
                {% autoescape false %}
                {{ step.log }}
                {% endautoescape %}
              </div>
            </div>
          </div>
          <br/>
          {% endfor %}
        </div>
        <br />

      </div>

      <br />
      {% endfor %}

    </div>

  </body>

</html>
