<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>PipelineRun: {{pr}}</title>
    <meta name="description" content="Showing PipelienRun stesp and failure">
    <meta name="author" content="Chmouel Boudjah">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  
  </head>

  
  <body>
    
    <div class="container-fluid">
      <div class="text-center">
  	    <button type="button" class="btn btn-primary">
          Pipeline {{pr}}
        </button>
      </div>
      <br/>

      {% for tr in prlog %}

        <a style="margin-top: 5px;border-left: solid 0.1px;border-right: solid 0.1px; border-top: solid 0.1px;padding: 10px;" class="btn btn-light" id="{{tr.taskrun}}" href="#{{tr.taskrun}}">
          <b>{{ tr.emoji }} Taskrun</b>: {{tr.taskrun}}
        </a>
        
        <br/>
        <div style="margin-right: 5px; margin-left: 5px; padding: 10px;"
             class="text-justify shadow-lg p-3 lb-5 bg-white rounded
             border shadow border mx-auto">

          {% for step in tr.steps %}
            <a id="{{tr.taskrun}}-{{step.stepname}}"
               href="#{{tr.taskrun}}-{{step.stepname}}" class="btn btn-{{step.classname}}">
                {{step.stepname}}
              </a>
              <div style="margin-right: 5px; margin-left: 5px; padding: 10px;"
                   class="text-justify shadow-mg p-3 mb-5 bg-white rounded
                   border-{{ step.classname }} shadow border mx-auto">
                   {% autoescape false %}
                     {{ step.log }}
                   {% endautoescape %}
              </div>
          {% endfor %}
          
        </div>
      {% endfor %}
      
    </div>
    
  </body>
</html
